* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-size: 15px;
   transition:all 800ms;
}
.next-player {
   text-align: center;
}

.board {
   margin-top:50px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(3, auto);
}

.button {
   text-align: center;
   margin-top:50px;
}

.restart {
   color:#4F33FF;
   height: 60px;
   text-align:center;
   width:220px;
   border-radius: 15px;
   background:#FFD533;
}
.winner {
   text-align: center;
   margin: 0 auto;
   background:#FFD533;
   width:180px;
   border-radius: 50px;
   height: 40px;

}

.cell {
   color:#3380FF;
   font-size:32px;
   height:100px;
   width:100px;
   display: flex;
   justify-content: center;
   align-items: center;
}



.footer {
   margin-top: 20px;  
   text-align: center;

}
.footer a {
    color:#3380FF;
}


.cilinder {
   width:70px;
   height:33px;
   border-radius:50px;
}

.cilinder .circle {
   background: gray;
   height:20px;
   width:40px;
   border-radius:50px;
   position:relative;
   left:2px;
   bottom:-0.5px;
   transition:all 800ms;
}

.dark-theme {
   background-color: #282a36;
   color:#fff;
}

.light-theme .cell { 
   border:2px solid #363636;
}
.light-theme {
   background-color: white;
}

.light-theme button {
   background-color:#363636;
   color:#fff;
}

.light-theme .cilinder {
   border:5px solid #363636;
}
.dark-theme .cilinder {
   border:5px solid #fff;
}
.dark-theme .circle {
   background:pink !important;
   left:10px !important;
}

.dark-theme .cell { 
   border:2px solid #fff;
}


.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
   border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
   border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
   border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
   border-bottom: none;
}
